.weatherDataCont {
    display: flex;
    justify-content: space-evenly;
    background-color: #e1e1e1;
}

.weatherExtraInfoCont, .weatherTemperature{
    flex: 0 0 calc(50%);
    padding: 2rem 0;
    color: #007EDD;
    font-size: 20px;
}
.weatherTemperature{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wIcon{
    margin-right: 10px;
    color: rgb(252, 165, 4);
}
.temperatura{
    font-size: 25px;
    font-weight: bold;
}
.extraInfoText{
    display: block;
    line-height: 1.5;
}